.side-bar
  .side-bar__side-header
    .side-bar__side-header__box
      .side-bar__side-header__box__bag
        = current_user.nickname
      .side-bar__side-header__box__menu
        = link_to "groups/new", class: "btn" do
          = fa_icon 'pencil-square-o', class: 'btn' 
          -# = icon('far', 'edit')
          %span
        = link_to edit_user_path(current_user), class: "btn" do
          = fa_icon 'cog', class: 'btn'
          -# = icon('fas', 'cog')
          %span
  .side-bar__groups
    - current_user.groups.each do |group|
      .side-bar__groups__group
        = link_to group_messages_path(group) do
          .side-bar__groups__group__group-name
            = group.name
          .side-bar__groups__group__message
            = group.show_last_message